* {
    font-family: "Roboto", sans-serif;
    background-color: #F0EBF8;
}

h2 {
    text-align: left;
    margin-left: 20px;
    background-color: #FFFFFF;
}

p {
    background-color: #FFFFFF;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

input {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px dotted #A5A5A5;
    outline: none;
    background-color: #FFFFFF;
    color: #A5A5A5;
}


.container {
    background-color: #FFFFFF;
    border: 1px solid #DADCE0;
    margin: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
}

button {
    background-color: #7349BD;
    color: white;
    border-radius: 5px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

button:hover {
    opacity: 0.9;
}

.right {
    margin-left: 20%;
    margin-right: 20%;
}